### Files in Python
- Anything that contains the information/data
- It may be of different kinds
    - .txt,.py,.exe,.c,.pdf,.doc,.xl,.mp3,.mp4 etc..
- **File Operations**
    1. Open()
        - Opens the file in 2 ways
    2. Read()
        - reads the content in file
    3. Write()
        - Overwrites existed data and adds the new data
    4. Append()
        - Adds the new data to the existed one
    4. Close()
        - It will close the file
- **Opening the file**
    - Syntax:
        - open(filename,mode)
        - with open(filename,mode)
        - mode :read/write
        - mode "r" represents the read operation
        - mode "w" represents the write operation
        - mode "a" -->append op'n

#### Working with files

In [3]:
notes=open("practice.ipynb",'r') # file,mode
print(notes.read())

{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Dictionary\n",
    "- key , value pair data structure\n",
    "- key,value together called as an item \n",
    "- {}\n",
    "- mutable in nature\n",
    "- we can modify/update the data in dic\n",
    "- no two keys in the dic are similar(keys are unique)\n",
    "- keys are the references for values\n",
    "- key may be any data type\n",
    "- value may be any other data structure"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 12, 'string': 'online session', 234.9: '98.67'}"
      ]
     },
     "execution_count": 6,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic={'integer':12,'string':'online session',234.90:'98.67'}\n",
    "dic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'Int': [1, 2, 3, 4],\n",
       " 'str': 'hi hello hey',\n",
       " 'details': ('name', '130417', 9876543210)}"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "all={\"Int\":[1,2,3,4],'str':'hi hello hey','details':('name','130417',9876543210)}\n",
    "all"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 987678, 'string': 'online session'}"
      ]
     },
     "execution_count": 4,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic2={'integer':12,'string':'online session','integer':987678}\n",
    "dic2"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "#### dictionary methods"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "['__class__',\n",
       " '__contains__',\n",
       " '__delattr__',\n",
       " '__delitem__',\n",
       " '__dir__',\n",
       " '__doc__',\n",
       " '__eq__',\n",
       " '__format__',\n",
       " '__ge__',\n",
       " '__getattribute__',\n",
       " '__getitem__',\n",
       " '__gt__',\n",
       " '__hash__',\n",
       " '__init__',\n",
       " '__init_subclass__',\n",
       " '__iter__',\n",
       " '__le__',\n",
       " '__len__',\n",
       " '__lt__',\n",
       " '__ne__',\n",
       " '__new__',\n",
       " '__reduce__',\n",
       " '__reduce_ex__',\n",
       " '__repr__',\n",
       " '__setattr__',\n",
       " '__setitem__',\n",
       " '__sizeof__',\n",
       " '__str__',\n",
       " '__subclasshook__',\n",
       " 'clear',\n",
       " 'copy',\n",
       " 'fromkeys',\n",
       " 'get',\n",
       " 'items',\n",
       " 'keys',\n",
       " 'pop',\n",
       " 'popitem',\n",
       " 'setdefault',\n",
       " 'update',\n",
       " 'values']"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dir(dict)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'Int': [1, 2, 3, 4],\n",
       " 'str': 'hi hello hey',\n",
       " 'details': ('name', '130417', 9876543210)}"
      ]
     },
     "execution_count": 8,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "all"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "dict_keys(['Int', 'str', 'details'])"
      ]
     },
     "execution_count": 9,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# print only keys in dict\n",
    "all.keys()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "dict_values([987678, 'online session'])"
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic2.values()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Int\n",
      "str\n",
      "details\n"
     ]
    }
   ],
   "source": [
    "for key in all.keys():\n",
    "    print(key)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "12 online session 98.67 "
     ]
    }
   ],
   "source": [
    "for val in dic.values():\n",
    "    print(val,end=\" \")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "dict_items([('integer', 12), ('string', 'online session'), (234.9, '98.67')])"
      ]
     },
     "execution_count": 16,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "#key,value--item\n",
    "dic.items()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "('integer', 12)\n",
      "('string', 'online session')\n",
      "(234.9, '98.67')\n"
     ]
    }
   ],
   "source": [
    "for item in dic.items():\n",
    "    print(item)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "integer:12:\n",
      "string:online session:\n",
      "234.9:98.67:\n"
     ]
    }
   ],
   "source": [
    "for i in  dic.items() :\n",
    "    for j in i :\n",
    "        print(j,end=\":\") \n",
    "    print()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 26,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "ename": "AttributeError",
     "evalue": "'tuple' object has no attribute 'keys'",
     "output_type": "error",
     "traceback": [
      "\u001b[1;31m---------------------------------------------------------------------------\u001b[0m",
      "\u001b[1;31mAttributeError\u001b[0m                            Traceback (most recent call last)",
      "\u001b[1;32m<ipython-input-26-5ef607223ec1>\u001b[0m in \u001b[0;36m<module>\u001b[1;34m\u001b[0m\n\u001b[0;32m      1\u001b[0m \u001b[1;32mfor\u001b[0m \u001b[0mi\u001b[0m \u001b[1;32min\u001b[0m \u001b[0mdic\u001b[0m\u001b[1;33m.\u001b[0m\u001b[0mitems\u001b[0m\u001b[1;33m(\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m:\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[1;32m----> 2\u001b[1;33m     \u001b[0mprint\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0mi\u001b[0m\u001b[1;33m.\u001b[0m\u001b[0mkeys\u001b[0m\u001b[1;33m(\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m,\u001b[0m\u001b[1;34m':'\u001b[0m\u001b[1;33m,\u001b[0m\u001b[0mi\u001b[0m\u001b[1;33m.\u001b[0m\u001b[0mvalues\u001b[0m\u001b[1;33m(\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0m",
      "\u001b[1;31mAttributeError\u001b[0m: 'tuple' object has no attribute 'keys'"
     ]
    }
   ],
   "source": [
    "for i in dic.items():\n",
    "    print(i.keys(),':',i.values())\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 30,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "integer:12\n",
      "string:online session\n",
      "234.9:98.67\n"
     ]
    }
   ],
   "source": [
    "for key,val in zip(dic.keys(),dic.values()):\n",
    "    print(key,val,sep=\":\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 12, 'string': 'online session', 234.9: '98.67'}"
      ]
     },
     "execution_count": 28,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 987678, 'string': 'online session'}"
      ]
     },
     "execution_count": 29,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic2"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 31,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "ename": "TypeError",
     "evalue": "'type' object is not iterable",
     "output_type": "error",
     "traceback": [
      "\u001b[1;31m---------------------------------------------------------------------------\u001b[0m",
      "\u001b[1;31mTypeError\u001b[0m                                 Traceback (most recent call last)",
      "\u001b[1;32m<ipython-input-31-0b080f98859b>\u001b[0m in \u001b[0;36m<module>\u001b[1;34m\u001b[0m\n\u001b[1;32m----> 1\u001b[1;33m \u001b[1;32mfor\u001b[0m \u001b[0mi\u001b[0m \u001b[1;32min\u001b[0m \u001b[0mdict\u001b[0m \u001b[1;33m:\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0m\u001b[0;32m      2\u001b[0m      \u001b[0mprint\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0mi\u001b[0m\u001b[1;33m,\u001b[0m \u001b[1;34m':'\u001b[0m\u001b[1;33m,\u001b[0m \u001b[0mdict\u001b[0m\u001b[1;33m[\u001b[0m\u001b[0mI\u001b[0m\u001b[1;33m]\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n",
      "\u001b[1;31mTypeError\u001b[0m: 'type' object is not iterable"
     ]
    }
   ],
   "source": [
    "for i in dict :\n",
    "     print(i, ':', dict[I]) "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 34,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "integer:12\n",
      "string:online session\n",
      "234.9:98.67\n"
     ]
    }
   ],
   "source": [
    "for key,val in dic.items():\n",
    "    print(key,val,sep=\":\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 35,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'Int': [1, 2, 3, 4],\n",
       " 'str': 'hi hello hey',\n",
       " 'details': ('name', '130417', 9876543210)}"
      ]
     },
     "execution_count": 35,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "all"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 36,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "('name', '130417', 9876543210)"
      ]
     },
     "execution_count": 36,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "all['details'] # dict[key]=value"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "[1, 2, 3, 4]"
      ]
     },
     "execution_count": 38,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "all['Int']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 39,
   "metadata": {},
   "outputs": [],
   "source": [
    "all['Int']=98 # modifying the data in dict"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'Int': 98, 'str': 'hi hello hey', 'details': ('name', '130417', 9876543210)}"
      ]
     },
     "execution_count": 40,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "all"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 41,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 12, 'string': 'online session', 234.9: '98.67'}"
      ]
     },
     "execution_count": 41,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# add new data item to the dict\n",
    "dic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 42,
   "metadata": {},
   "outputs": [],
   "source": [
    "dic['new']='value'"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 43,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 12, 'string': 'online session', 234.9: '98.67', 'new': 'value'}"
      ]
     },
     "execution_count": 43,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 44,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "('new', 'value')"
      ]
     },
     "execution_count": 44,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic.popitem()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 45,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 12, 'string': 'online session', 234.9: '98.67'}"
      ]
     },
     "execution_count": 45,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 46,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "'online session'"
      ]
     },
     "execution_count": 46,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic.pop('string') # removes the perticular item"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 47,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 12, 234.9: '98.67'}"
      ]
     },
     "execution_count": 47,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 48,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 12, 234.9: '98.67'}"
      ]
     },
     "execution_count": 48,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic.copy()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 49,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 12, 234.9: '98.67'}"
      ]
     },
     "execution_count": 49,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dic"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 50,
   "metadata": {},
   "outputs": [],
   "source": [
    "new=dic.copy()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 51,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 12, 234.9: '98.67'}"
      ]
     },
     "execution_count": 51,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "new"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 52,
   "metadata": {},
   "outputs": [],
   "source": [
    "new.clear()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 53,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{}"
      ]
     },
     "execution_count": 53,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "new"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 54,
   "metadata": {},
   "outputs": [],
   "source": [
    "new.update(dic2)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 55,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 987678, 'string': 'online session'}"
      ]
     },
     "execution_count": 55,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "new"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 56,
   "metadata": {},
   "outputs": [],
   "source": [
    "new.update({'key':'name','key2':[1,2,3,4]})"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 57,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 987678,\n",
       " 'string': 'online session',\n",
       " 'key': 'name',\n",
       " 'key2': [1, 2, 3, 4]}"
      ]
     },
     "execution_count": 57,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "new"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 60,
   "metadata": {},
   "outputs": [
    {
     "ename": "TypeError",
     "evalue": "fromkeys expected at least 1 arguments, got 0",
     "output_type": "error",
     "traceback": [
      "\u001b[1;31m---------------------------------------------------------------------------\u001b[0m",
      "\u001b[1;31mTypeError\u001b[0m                                 Traceback (most recent call last)",
      "\u001b[1;32m<ipython-input-60-3e9ac1067660>\u001b[0m in \u001b[0;36m<module>\u001b[1;34m\u001b[0m\n\u001b[1;32m----> 1\u001b[1;33m \u001b[0mhelp\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0mdict\u001b[0m\u001b[1;33m.\u001b[0m\u001b[0mfromkeys\u001b[0m\u001b[1;33m(\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0m",
      "\u001b[1;31mTypeError\u001b[0m: fromkeys expected at least 1 arguments, got 0"
     ]
    }
   ],
   "source": [
    "help(dict.fromkeys())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 61,
   "metadata": {
    "collapsed": true
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "['__class__',\n",
       " '__contains__',\n",
       " '__delattr__',\n",
       " '__delitem__',\n",
       " '__dir__',\n",
       " '__doc__',\n",
       " '__eq__',\n",
       " '__format__',\n",
       " '__ge__',\n",
       " '__getattribute__',\n",
       " '__getitem__',\n",
       " '__gt__',\n",
       " '__hash__',\n",
       " '__init__',\n",
       " '__init_subclass__',\n",
       " '__iter__',\n",
       " '__le__',\n",
       " '__len__',\n",
       " '__lt__',\n",
       " '__ne__',\n",
       " '__new__',\n",
       " '__reduce__',\n",
       " '__reduce_ex__',\n",
       " '__repr__',\n",
       " '__setattr__',\n",
       " '__setitem__',\n",
       " '__sizeof__',\n",
       " '__str__',\n",
       " '__subclasshook__',\n",
       " 'clear',\n",
       " 'copy',\n",
       " 'fromkeys',\n",
       " 'get',\n",
       " 'items',\n",
       " 'keys',\n",
       " 'pop',\n",
       " 'popitem',\n",
       " 'setdefault',\n",
       " 'update',\n",
       " 'values']"
      ]
     },
     "execution_count": 61,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dir(dict)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 62,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{'integer': 987678,\n",
       " 'string': 'online session',\n",
       " 'key': 'name',\n",
       " 'key2': [1, 2, 3, 4]}"
      ]
     },
     "execution_count": 62,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "new"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 63,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "'name'"
      ]
     },
     "execution_count": 63,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],

In [7]:
with open("first.txt","r") as text:
    print(text.read())

Hi I am Ruthu and working with files using Python

In [10]:
new=open("first.txt",'w')
new.write("I am adding new data\nusing wirte operation.")

43

In [12]:
with open("first.txt","r") as read:
    print(read.read())

I am adding new data
using wirte operation.

In [13]:
ap=open("first.txt",'a')
ap.write("\nWriting content into the file using append mode") # 
ap.close()

#### write a python program to count the no.of lines,no.of words and no.of characters in the file

In [15]:
len(ap)

TypeError: object of type '_io.TextIOWrapper' has no len()

In [16]:
li=[7,6,8,12,14,56]
len(li)

6

In [26]:
data=open("first.txt",'r')
st=data.read()
for ele in st:
    print(ele,end=" ")

I   a m   a d d i n g   n e w   d a t a @
 $ u s i n g   w i r t e   # o p e r a t i o n .
 # W r i t i n g   $ c o n t e n t   i n t o   ! t h e   f i l e   u s i n g   a p p e n d   m o d e   .

In [22]:
type(data)

_io.TextIOWrapper

In [23]:
type(st)

str

#### readlines()
- The file will be converted into the list of data
- **Syntax**
    - file.readlines()

In [37]:
with open("first.txt","r") as p:
    li=p.readlines() # list of lines
    count=0
    for line in li:
        count+=1
print("No.of lines=",count)
print(li)
li.append("New data")
print(li)
# count the special characters existed file

No.of lines= 3
['I am adding new data@\n', '$using wirte #operation.\n', '#Writing $content into !the file using append mode .']
['I am adding new data@\n', '$using wirte #operation.\n', '#Writing $content into !the file using append mode .', 'New data']

In [47]:
ch_c=0
for line in li:
    for ch in line:
        if ch.isalpha() or ch.isspace():
            continue
        ch_c+=1
        print(ch,end=" ")
print()
print("No.of special characters:",ch_c)

@ $ # . # $ ! .
No.of special characters: 8

In [44]:
# write a python program to count the no.of words,lines,alphabets and special characters 
# in a file

#### Comprehensions in Python
- It's like short description
- Reducing the no.of LOC 
- Shortening the program
- 2 types of comprehensions
    1. List and 
    2. Dictionary Comprehension
- **Syntax**
    - [output input sequence condition_check]
    - {output input sequence condition check}

In [50]:
# write a python program to store a list of square values of numbers present in a range
numbers=[1,2,3,4,5]

squared_numbers=[number ** 2 for number in numbers]

print(squared_numbers)

[1, 4, 9, 16, 25]

In [51]:
sq=[]
for num in range(int(input()),int(input())+1):
    sq.append(num**2)
#print(sq)
for num in sq:
    print(num)

13
20
[169, 196, 225, 256, 289, 324, 361, 400]

In [53]:
sqs=[num**2 for num in range(int(input()),int(input())+1)]
sqs

10
20

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [54]:
# read space separated values from user and make a list of evens no.s in it
nums=input().split()
evens=[]
for num in nums:
    if int(num)%2==0:
        evens.append(num)
print(evens)

987 456 2345 09876 4567 312345
['456', '09876']

In [55]:
# by using list comprehension
en=[print(num) for num in input().split() if int(num)%2==0]

98 4567 3456 0987 567 12345 09876
98
3456
09876

In [56]:
# read a sentence from the user and make a list of char whose ascii values is odd
odds=[ch for ch in input("Enter a sentence:") if ord(ch)%2==1]
odds

Enter a sentence:Hi I am Ruthu from APSSDC

['i', 'I', 'a', 'm', 'u', 'u', 'o', 'm', 'A', 'S', 'S', 'C']

In [58]:
ord("A")

65

In [59]:
ord('o')

111

#### Dictionary Comprehension

In [60]:
# make a dictionary cubic values of numbers present in a range
dic={}
for num in range(1,15):
    dic[num]=num**3
print(dic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744}

In [63]:
# dictionary comprehension
dc={num:num**3 for num in range(1,15)}
print(dc)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744}

In [65]:
# print the multiplication table using list comprehension
n=int(input("Enter the number:"))
for num in range(1,11):
    print(n,"x",num,"=",n*num)

Enter the number:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [67]:
mul=[print(int(input()),"x",num,"=",n*num) for num in range(1,11)]

9
9 x 1 = 9
9
9 x 2 = 18
10
10 x 3 = 27
40
40 x 4 = 36
8
8 x 5 = 45
14
14 x 6 = 54
8
8 x 7 = 63
10
10 x 8 = 72
11
11 x 9 = 81
18
18 x 10 = 90

In [68]:
m=[print(12,'x',num,'=',12*num) for num in range(1,11)]

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [71]:
def is_prime(n):
    count=0
    for num in range(1,n//2):
        if n%num==0:
            count+=1
    if count==1:
        return True
    else:return False
    
#is_prime(9)
# make a dictionary of characters whose ascii values are prime
prime_chars={ch:ord(ch) for ch in input("Enter the string:") if is_prime(ord(ch))}
prime_chars

Enter the string:Hi I am Ruthu from apssdc

{'I': 73, 'a': 97, 'm': 109}

#### Functional Programming
- Programming with functions
    1. iterator()
    2. generator()
    3. map()
    4. lambda() and
    5. filter()

##### iterator()
- iter() and
- next()
    - incrementing functions
    - user incrementation
    - these discontinued by the user at any stage
    - for doing multiple operations

In [76]:
# python program to add no. 5 to the each and every element in the list
li=[5,6,7,8,10]
for num in li:
    num+=5 
li

[5, 6, 7, 8, 10]

In [77]:
10,11,12,13,15

(10, 11, 12, 13, 15)

In [78]:
li

[5, 6, 7, 8, 10]

In [80]:
it=iter(li) #initialized
print(next(it)+5) # called the first value
print(next(it)-10) # 2nd 
print(next(it)/5)
print(next(it)+10)

10
-4
1.4
18

#### Generators
- it is a function which yields the more values
- def function_name(arguments):
    - yield

In [96]:
def generator(n):
    yield 1
    yield 2
    yield 3
    yield 4
    yield 5
    yield 6
    

g=generator(6)
''' for num in g:
    print(num) '''
r=iter(g)
print(next(r))
print(next(r))

1
2

In [94]:
def generator2(n):
    for num in range(1,n//2+1):
        yield num
        
        
g2=generator2(10)
i=iter(g2)
print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i))

1
2
3
4
5

#### map()
- It gives a list of results when  a function is applied on iterable
- map(int,iterable)

In [97]:
# space separated integers from user
# sum of middle digts of numbers:890 657 234 109 876 367:9+5+3+0+7+6=30
s=0
for ch in input().split():
    s+=int(ch[1])
print("sum=",s)

890 657 234 109 876 367
sum= 30

In [98]:
nums=list(map(int,input().split()))
for num in nums:
    print(type(num))

90 87 65
<class 'int'>
<class 'int'>
<class 'int'>

In [99]:
def find_length(st):
    return len(st)

find_length("Ruthu")

5

In [102]:
# list of words
names=['Ruthu','Vanitha','Nandini','Srikanya']
t=tuple(map(find_length,names))
print(t)

(5, 7, 7, 8)

####  lamabda
- anynomus functions that means functions without name
- works for simple logic 
- lambda expression:arguments

In [103]:
s=lambda num:num**2 # function definition
s(9) # function call

81

In [106]:
cube=lambda n:n**3 # formal parameter
cube(9)# actual value

729

In [107]:
l=[9,45,6,12,39,87,56,51,24,90,53]
for num in l:
    if num%2==0:
        print(num)

6
12
56
24
90

In [108]:
evens=list(map(lambda num:num%2,l))
evens

[1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1]

In [110]:
num_li=[8,11,23,8,4,5,10,34,3]
even_list=list(map(lambda num:num%2==0,num_li))
print(even_list)

[True, False, False, True, True, False, True, True, False]

#### filter
- it gives the list of iterable(true/false) when a function applied on iterable

In [111]:
li=list(map(int,input().split())) # integers
flt_list=filter(lambda x:x%2==0,li)
for num in flt_list:
    print(num,end=" ")

90 98 73 14 15 63 14 50
90 98 14 14 50

In [115]:
def vowels(st):
    v="AEIOUaeiou"
    for ch in v:
        if ch in st:
            return True
        else:return False
        
        
vowels("Ruthu from APSSDC")

True

In [118]:
def filter_vowels(ch):
    v=('a','e','i','o','u','A','E','I','O','U')
    if ch in v:
        return True
    else:
        return False
    
st=input("Enter the string")
vowels=filter(filter_vowels,st)
for vowel in vowels:
    print(vowel)

Enter the stringHi I am RUTHU FROM ASDdc
i
I
a
U
U
O
A

In [119]:
def filter_vowels(ch):
    v=('a','e','i','o','u','A','E','I','O','U')
    if ch in v:
        return True
    else:
        return False
    
st=input("Enter the string")
vowels=map(filter_vowels,st)
for vowel in vowels:
    print(vowel)

Enter the stringHI iam RUThu from APSDC
False
True
False
True
True
False
False
False
True
False
False
True
False
False
False
True
False
False
True
False
False
False
False