### Break and Continue pass
- Flow control statements

In [1]:
# looping circular motion
# 1 to 20 # 20 
print(1)
print(2)
print(3)

1
2
3

In [1]:
lw,up=int(input()),int(input()) # that many iterations
for num in range(lw,up+1): #20 and 45 :26 iterations 
    count=0
    print(num,end=" ")
    for dig in range(1,num+1): # prime number:loop break 
        if num%dig==0:
            count+=1
    if count==2:
        print(num) # 4 iterations:at 4th 
        break # break

20
45
20 21 22 23 23

In [4]:
# print the odd no.s present in the range using even logic
for num in range(1,50):
    if num%2 is 0:
        continue # 
    print(num,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [5]:
# type casting/conversion
# implicit and explicit

### strings
- A string is a collection/group/set of characters
- A single char is also a string
- it is a data type
- ""/'' to store a string
- 'a' and "word"

In [6]:
name="Ruthu"
type(name) 
# name is a variable and "Ruthu" value/data

str

In [7]:
type(98765456)

int

In [8]:
type('u')

str

In [9]:
type("ytuiopiuytretyui")

str

#### Working with Strings
- The data in the realworld may exists in different formats
- Personal Info:
    - Name,Mobile number,ID,Contact Address
        - Name:alphabetical
        - Mobile:Numeric
        - Id: Alphanumeric
        - Contact Address: Combination of all chars

In [6]:
college="KKR & KSR Institute of Technology"
print("I am the student of ",college)

I am the student of  KKR & KSR Institute of Technology

In [17]:
clg=input() # read the str type of data
print("I am the student of ",clg)

IIIT-Nuzvid
I am the student of  IIIT-Nuzvid

In [5]:
# Accessing the data in College
college

NameError: name 'college' is not defined

#### Representation of String in memory

In [22]:
len(college) #

33

In [20]:
id(college) # memory location

1399877726640

In [23]:
college[3] # 33 indices:starts from 0 and upto 32

' '

In [24]:
college[4]

'&'

In [25]:
college[0] # iterable[index]

'K'

In [26]:
college[18]

'e'

In [27]:
# 
college[-1]

'y'

In [28]:
college

'KKR & KSR Institute of Technology'

In [29]:
college[-2]

'g'

#### index
- it is of 2 types
    - +ve(forward) and -ve(backward)
        - starts from 0 and goes upto (len(it)-1)
        - left to right
    - ve index
        - starts from -1 to -inifinite
        - traverse from right to left

In [30]:
college[-5] # 6th char from last

'o'

In [31]:
college[:] # entire string

'KKR & KSR Institute of Technology'

In [32]:
college[::]

'KKR & KSR Institute of Technology'

In [33]:
college[::-1] # reversing order of string

'ygolonhceT fo etutitsnI RSK & RKK'

In [34]:
# skip 
college[::2] # 3rd argument which is the step count

'KR&KRIsiueo ehooy'

In [35]:
# alternate chars present in reverse order
college[::-2]

'yoohe oeuisIRK&RK'

In [39]:
for ch in college: # for iterator in iterable
    print(ch,end=" ")

K K R   &   K S R   I n s t i t u t e   o f   T e c h n o l o g y

In [38]:
for num in range(1,11):
    print(num,end=" ")

1 2 3 4 5 6 7 8 9 10

In [41]:
for index in range(len(college)):
    print(college[index],end=" ")

K K R   &   K S R   I n s t i t u t e   o f   T e c h n o l o g y

#### String methods
- Method can apply on strings only
- strings are immutable in nature
- capitalize()
    - capitalize the first ch or string
- center()
    - we will put string in center
- strip()
    - removes the spaces
- lstrip()
- rstrip()
- split()
    - separate the spaces

In [42]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
college.capitalize()

'Kkr & ksr institute of technology'

In [46]:
college

'KKR & KSR Institute of Technology'

In [47]:
college.casefold() # lowecase letters

'kkr & ksr institute of technology'

In [48]:
college.swapcase() # converts the lower case alphabets into uppers

'kkr & ksr iNSTITUTE OF tECHNOLOGY'

In [49]:
"i Am rUTHU FROM apssdc".title() #

'I Am Ruthu From Apssdc'

In [51]:
sentence="I AM ruthu from apssdc".title()
sentence.split() # list of words

['I', 'Am', 'Ruthu', 'From', 'Apssdc']

In [52]:
friends="Ruthu,vanitha,srikanya,nandini from IIIT".split("a")
friends

['Ruthu,v', 'nith', ',srik', 'ny', ',n', 'ndini from IIIT']

In [55]:
friends="Ruthu,vanitha,srikanya,nandini.from IIIT".split(",")
friends

['Ruthu', 'vanitha', 'srikanya', 'nandini.from IIIT']

In [56]:
st="              I am from APSSDC".lstrip()
st

'I am from APSSDC'

In [58]:
st2="adjkfhjkdhfjkh         ".rstrip()
st2

'adjkfhjkdhfjkh'

In [59]:
st3="   hdjfhjdhfjk     hi   ".strip()
st3

'hdjfhjdhfjk     hi'

In [60]:
clg

'IIIT-Nuzvid'

In [62]:
clg.lower()

'iiit-nuzvid'

In [63]:
clg.upper()

'IIIT-NUZVID'

In [64]:
clg.islower() # checking function

False

In [65]:
clg

'IIIT-Nuzvid'

In [66]:
clg.isupper()

False

In [67]:
al='Ruthu123'
al.isalnum() # alphabets and integers

True

In [73]:
nums="678909876546789095678876546"
print(nums.isdigit()) # 
print(nums.isnumeric())

True
True

In [1]:
# read a string and a char from user and check whether given string starts with that char
# python workshop: s
ch=input("Enter a char:")
st=input("Enter a string:")
if st[0]==ch: # general logic
    print("yes")
else:print("No")

Enter a char:s
Enter a string:python workshop
No

In [2]:
if st.startswith(ch):
    print("yes")
else:print("No")

No

In [3]:
st.endswith(ch) # st[-1]

False

In [7]:
# count the frequency of char in the string
college

'KKR & KSR Institute of Technology'

In [8]:
count=0
for ch in college:
    if ch=="o":
        count+=1
print("Frequency of o is",count)

Frequency of o is 3

In [9]:
college.count("o")

3

In [11]:
college.count("e")

2

In [12]:
college.index("o") # o times:first occurence

20

In [15]:
college.find("e") # index value of char

18

In [16]:
college[18]

'e'

In [17]:
# read a string from the user and print the vowels in stringf
line=input()
for ch in line:
    if ch=="a" or ch=="e" or ch=='i' or ch=='o' or ch=='u' or ch=='A' or ch=="E" or ch=="I" or ch=="O" or ch=="U":
        print(ch,end=" ")

kjajdkf I am RuthU FROM apssdc
a I a u U O a

In [18]:
vowels="aeiouAEIOU"
for ch in line:
    if ch in vowels:
        print(ch,end=" ")

a I a u U O a

In [19]:
# read n space separated integers from user and print the numbers 
# which are divisible by 3 and 5 but not by 7
# read space separate values from user and find the sum of middle digits in it
# 897 654 267 901 934 :i/p
# o/p:9+5+6+0+3=23

### Functions
- A set of statements that are executed to perform a specific task
- **Syntax**
    - **def** function_name(arguments):
        - statements goes here
            - return statement
- The function gets executed when it is called
- function definition and function call
- Code reusability
- modularity of code
- we can define the function in 4 ways

In [20]:
# simple basic idea of function
# simple function to 3 numbers
x,y,z=10,56,90
print("sum=",x+y+z)

sum= 156

In [21]:
# function with argument and with return statement
def add(x,y,z):
    return x+y+z

add(10,56,90) # function call

156

In [22]:
print("sum of x y and z=",add(10,56,90))

sum of x y and z= 156

In [23]:
# function with arguments and without return statement
f,s,th=int(input("first number:")),int(input("second number:")),int(input("third number:"))
def add2(f,s,th):
    print("The summation value=",f+s+th) # formal paramenters
    
add2(f,s,th) # actual parameters

first number:90
second number:34
third number:56
The summation value= 180

In [25]:
# function without args and with return statement
def add3():
    a,b,c=9,4,15
    return a+b+c

print("sum:",add3())

sum: 28

In [26]:
def add4():
    print("Hi I am from the function add4")
    
add4()

Hi I am from the function add4

In [31]:
# write python program to find the prime no.s present in a range
# 100 to 200 # 6 ways
# academic solution
n=int(input("Enter the number:"))
# n:2 factors:1 & n:1 to n(loop):factor
factors=0
for num in range(1,n+1):
    if n%num==0: # num is factor of n
        factors+=1
if factors==2:
    print("give number is prime")
else:print("Not a prime")

Enter the number:9
Not a prime

In [32]:
lw,up=100,200
for num in range(lw,up+1):
    count=0
    for dig in range(1,num+1):
        if num%dig is 0:
            count+=1
    if count==2:
        print(num,end=" ")

101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [29]:
6%2

0

In [33]:
# using while loop(upper) and inner loop(for)
# outer loop(for) and inner loop(while)
# both loops using while
# using functions
# primes between 200 to 100 reverse order
# perfect no.s present in a range
# without using while loop:sum of the digits :12345:1+2+3+4+5=15

In [34]:
f,s=int(input("first:")),int(input("second:"))
#it=f
while f<=s: # f+++++=s
    count=0
    for num in range(1,f+1):
        if f%num==0:
            count+=1
    if count==2:
        print(f,end=" ")
    f+=1

first:100
second:200
101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [1]:
# for and while

for num in range(int(input()),int(input())):
    it=1
    count=0
    while it<=num:
        if num%it==0:
            count+=1
        it+=1
    if count==2:
        print(num,end=" ")

100
200
101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [2]:
# both while loops

In [12]:
# using functions
def is_prime(n):
    count=0
    for num in range(1,n//2+1): #
        if n%num==0:
            count+=1
    if count==1:
        return True
    else:return False
    
    
print(is_prime(11))
is_prime(9)

True

False

In [9]:
def factors(n):
    for num in range(1,n):
        if n%num==0:
            print(num,end=" ")
            
factors(20)

1 2 4 5 10

In [10]:
def factors(n):
    for num in range(1,n//2+1):
        if n%num==0:
            print(num,end=" ")
            
factors(20)

1 2 4 5 10

In [13]:
for num in range(100,200):
    if is_prime(num): # function call
        print(num,end=" ")

101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [14]:
def prime_range(lw,up):
    for num in range(lw,up+1):
        if is_prime(num):
            print(num,end=" ")
            
            
prime_range(200,300)

211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293

In [16]:
# return and print statements 
def prime(n):
    factors=0
    for num in range(1,n+1):
        if n%num==0:
            factors+=1
    if factors==2:
        print("prime")
    else:print("non prime")
        
        
prime(100)

non prime

In [19]:
prime(97)

prime

In [20]:
for num in range(1,100):
    if prime(num):
        print(num,end=" ")

non prime
prime
prime
non prime
prime
non prime
prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
non prime